/************** PATHE FILMPLANNER **************/

* {
  margin: 0;
}
html, body {
  background: #ffffff;
}

h1 span {
  color: #ffffff;
}

h2 {
  font-family: 'Oswald', sans-serif;
  font-size: 32px;
  color: #fdc229;
  font-weight: normal;
  text-transform: uppercase;
}
h3 {
  font-family: 'Oswald', sans-serif;
  font-size: 24px;
  color: #ffffff;
  margin: 0;
}

.align-right {
  float: right;
}

.top {
  background: #0f0f0f;
  position: relative;
  width: 100%;
  padding: 20px;
}

.days {
  background: #fdc229;
  margin-bottom: 10px;
}

.heading {
  background: #fdc229;
}

.heading .grid {
  margin: 0;
}

.days table {
  width: 100%;
  color: #000000;
  text-transform: uppercase;
  font-family: 'Oswald', sans-serif;
  font-size: 17px;
  margin: 0;
  padding: 0;
}

.days td {
  text-align: center;
  padding: 10px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.days td:hover {
  background: #FFD66C;
  color: #ffffff;
}

.days td.active {
    background: #0f0f0f;
    color: #fdc229;
}

.main {
	position: relative;
}

.btn-orange {
  background: #fdc229;
  border-radius: 0px;
  color: #000000;
  padding: 12px 18px;
}

.btn-white {
  background: #ffffff;
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
  font-size: 17px;
  border-radius: 0px;
  color: #0f0f0f;
  padding: 12px 18px;
}

.select-cinema {
  font-weight: bold;
  text-transform: uppercase;
  float: right;
}

.movies {
  min-height: 383px;
  margin: 0px 10px;
}

.movies .item {
   margin-bottom: 20px;
   width: 214px;
   height: 302px;
   float: left;
   overflow: hidden;
   position: relative;
   cursor: default;
}

.movies .item .mask {
   width: 100%;
   height: 100%;
   position: absolute;
   overflow: hidden;
   top: 0;
   left: 0;
   box-sizing:border-box;
   transition: all 0.2s ease-in-out;
}

.movies .item .mask .title {
    opacity: 1;
    font-family: 'Oswald', sans-serif;
    font-size: 16px;
    background: rgba(0,0,0,0.8);
    padding: 10px;
    color: #fdc229;
    text-transform: uppercase;
    transition: all 0.2s ease-in-out;
}

.movies .item:hover .mask .title, .movies .item.selected .mask .title {
    opacity: 1;
    background: none;
}

.movies .item img {
   display: block;
   position: relative;
   width: 100%;
}

.movies .item:hover .mask, .movies .item.selected .mask {
   opacity: 1;
   background: rgba(0,0,0,0.8);
}

.movies .item .mask .content {
  position: absolute;
  bottom: 10px;
  left: 0px;
  right: 0px;
}

.movies .item.selected .mask {
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    border: 8px solid #ffc20e;

    -webkit-transition: all ease-out 0.1s;
    -moz-transition: all ease-out 0.1s;
    -o-transition: all ease-out 0.1s;
    transition: all ease-out 0.1s;
}

.no-items {
  text-align: center;
  margin-top: 50px;
}

.loading {
   margin-left: auto;
   margin-right: auto;
   width: 186px;
   margin-top: 30px;
}

.m-scene .scene-element {
  animation-duration: 1.00s;
  transition-timing-function: linear;
  animation-fill-mode: forwards;
  animation-name: fadeIn;
}

@-webkit-keyframes uil-default-anim { 0% { opacity: 1} 100% {opacity: 0} }@keyframes uil-default-anim { 0% { opacity: 1} 100% {opacity: 0} }.uil-default-css > div:nth-of-type(1){-webkit-animation: uil-default-anim 1s linear infinite;animation: uil-default-anim 1s linear infinite;-webkit-animation-delay: -0.5s;animation-delay: -0.5s;}.uil-default-css { position: relative;background:none;width:200px;height:200px;}.uil-default-css > div:nth-of-type(2){-webkit-animation: uil-default-anim 1s linear infinite;animation: uil-default-anim 1s linear infinite;-webkit-animation-delay: -0.4166666666666667s;animation-delay: -0.4166666666666667s;}.uil-default-css { position: relative;background:none;width:200px;height:200px;}.uil-default-css > div:nth-of-type(3){-webkit-animation: uil-default-anim 1s linear infinite;animation: uil-default-anim 1s linear infinite;-webkit-animation-delay: -0.33333333333333337s;animation-delay: -0.33333333333333337s;}.uil-default-css { position: relative;background:none;width:200px;height:200px;}.uil-default-css > div:nth-of-type(4){-webkit-animation: uil-default-anim 1s linear infinite;animation: uil-default-anim 1s linear infinite;-webkit-animation-delay: -0.25s;animation-delay: -0.25s;}.uil-default-css { position: relative;background:none;width:200px;height:200px;}.uil-default-css > div:nth-of-type(5){-webkit-animation: uil-default-anim 1s linear infinite;animation: uil-default-anim 1s linear infinite;-webkit-animation-delay: -0.16666666666666669s;animation-delay: -0.16666666666666669s;}.uil-default-css { position: relative;background:none;width:200px;height:200px;}.uil-default-css > div:nth-of-type(6){-webkit-animation: uil-default-anim 1s linear infinite;animation: uil-default-anim 1s linear infinite;-webkit-animation-delay: -0.08333333333333331s;animation-delay: -0.08333333333333331s;}.uil-default-css { position: relative;background:none;width:200px;height:200px;}.uil-default-css > div:nth-of-type(7){-webkit-animation: uil-default-anim 1s linear infinite;animation: uil-default-anim 1s linear infinite;-webkit-animation-delay: 0s;animation-delay: 0s;}.uil-default-css { position: relative;background:none;width:200px;height:200px;}.uil-default-css > div:nth-of-type(8){-webkit-animation: uil-default-anim 1s linear infinite;animation: uil-default-anim 1s linear infinite;-webkit-animation-delay: 0.08333333333333337s;animation-delay: 0.08333333333333337s;}.uil-default-css { position: relative;background:none;width:200px;height:200px;}.uil-default-css > div:nth-of-type(9){-webkit-animation: uil-default-anim 1s linear infinite;animation: uil-default-anim 1s linear infinite;-webkit-animation-delay: 0.16666666666666663s;animation-delay: 0.16666666666666663s;}.uil-default-css { position: relative;background:none;width:200px;height:200px;}.uil-default-css > div:nth-of-type(10){-webkit-animation: uil-default-anim 1s linear infinite;animation: uil-default-anim 1s linear infinite;-webkit-animation-delay: 0.25s;animation-delay: 0.25s;}.uil-default-css { position: relative;background:none;width:200px;height:200px;}.uil-default-css > div:nth-of-type(11){-webkit-animation: uil-default-anim 1s linear infinite;animation: uil-default-anim 1s linear infinite;-webkit-animation-delay: 0.33333333333333337s;animation-delay: 0.33333333333333337s;}.uil-default-css { position: relative;background:none;width:200px;height:200px;}.uil-default-css > div:nth-of-type(12){-webkit-animation: uil-default-anim 1s linear infinite;animation: uil-default-anim 1s linear infinite;-webkit-animation-delay: 0.41666666666666663s;animation-delay: 0.41666666666666663s;}.uil-default-css { position: relative;background:none;width:200px;height:200px;}

.theater-modal label {
  font-size: 15px !important;
  margin-bottom: 5px;
  cursor: pointer !important;
}

.theater-button {
  margin-top: -50px !important;
}

.make-planning {
  text-align: center;
}

.hide {
  display: none !important;
}

.dropdown.planning {
  float: right;
  margin-top: -50px !important;
}

.share-with-friends {
  width: 100%;
  margin: 0 !important;
  margin-top: 30px !important;
}

.share-with-friends .card {
  width: 100% !important;
  margin: 0 !important;
}
.share-with-friends .social-icons {
  margin-top: 20px;
}
.share-with-friends .social-icons a {
  color: #fdc229;
  font-size: 15px;
  font-weight: bold;
}

.share-with-friends .social-icons i {
  font-size: 30px;
}

.dropdown.planning {
  margin-top: 15px;
}
.cbp_tmtimeline {
	margin: 30px 0 0 0;
	padding: 0;
	list-style: none;
	position: relative;
}

.footer {
  margin: 80px 0px 30px 0px;
  color: #B5B5B5;
  text-align: center;
}

.footer a {
  color: #FDC229;
}

.heart.icon {
  color: red;
}

/* The line */
.cbp_tmtimeline:before {
	content: '';
	position: absolute;
	top: 0;
	bottom: 0;
	width: 10px;
	background: #E6E6E6;
	left: 20%;
	margin-left: -10px;
}

/* The date/time */
.cbp_tmtimeline > li .cbp_tmtime {
	display: block;
	width: 25%;
	padding-right: 100px;
	position: absolute;
}

.cbp_tmtimeline > li .cbp_tmtime span {
	display: block;
	text-align: right;
}

.cbp_tmtimeline > li .cbp_tmtime span:first-child {
	font-size: 0.9em;
	color: #bdd0db;
}

.cbp_tmtimeline > li .cbp_tmtime span:last-child {
	font-size: 2.9em;
	color: #fdc229;
}

.cbp_tmtimeline > li.IMAX .cbp_tmtime span:last-child {
	color: #3594cb;
}

/* Right content */

.cbp_tmtimeline > li .cbp_tmlabel {
	margin: 0 0 15px 25%;
	background: #fdc229;
	color: #fff;
	padding: 2em;
	font-size: 1.2em;
	font-weight: 300;
	line-height: 1.4;
	position: relative;
	border-radius: 5px;
}

.cbp_tmlabel img {
	float:right;
	height: 170px;
}

.cbp_tmtimeline > li.IMAX .cbp_tmlabel {
		background: #3594cb;
}

.cbp_tmtimeline > li .cbp_tmlabel h2 {
	color: #fff;
	margin-top: 0px;
	margin-bottom: 0px;
	margin-right: 120px;
	overflow: hidden;
	white-space: nowrap;
}

/* The triangle */
.cbp_tmtimeline > li .cbp_tmlabel:after {
	right: 100%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-right-color: #fdc229;
	border-width: 10px;
	top: 10px;
}

.cbp_tmtimeline > li.IMAX .cbp_tmlabel:after {
	border-right-color: #3594cb;
}

.cbp_tmtimeline > li .cbp_tmlabel.traveltime {
  background: #0f0f0f;
  font-size: 14px;
  padding: 20px;
}

.cbp_tmtimeline > li .cbp_tmlabel.traveltime:after {
	border-right-color: #0f0f0f;
}

.cbp_tmtimeline > li .label {
	color: #ffffff;
	background-color: #B78A16 !important;
	margin-bottom: 5px !important;
}
.cbp_tmtimeline > li.IMAX .label {
	background-color: #225877 !important;
}

/* The icons */
.cbp_tmtimeline > li .cbp_tmicon {
	width: 40px;
	height: 40px;
	font-family: 'ecoico';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	font-size: 1em;
	padding-left: 4px;
	line-height: 40px;
	-webkit-font-smoothing: antialiased;
	position: absolute;
	color: #fff;
	background: #fdc229;
	border-radius: 50%;
	box-shadow: 0 0 0 8px #ffe297;
	text-align: center;
	left: 20%;
	margin: 0 0 0 -25px;
}

.cbp_tmtimeline > li.IMAX .cbp_tmicon {
	background: #3594cb;
	box-shadow: 0 0 0 8px #B2DAF3;
}

/* Example Media Queries */
@media screen and (max-width: 65.375em) {

	.cbp_tmtimeline > li .cbp_tmtime span:last-child {
		font-size: 1.5em;
	}
}

@media screen and (min-width: 0px) and (max-width: 720px) {
  .mobile-hide { display: none !important; }
  .mobile-show { display: block !important;}
  .make-planning button { width: 100%;}
  .logo { text-align: center; margin-bottom: 10px; }
  .dropdown.planning, .theater-button { float: none; width: 100%; margin: 0 !important; }
  .share-with-friends { margin: 0px !important;}

  h1 {
    font-size: 18px;
  }
  .cbp_tmtimeline:before {
    display: none;
  }
  .cbp_tmtimeline > li {
    margin-bottom: 0px !important;
  }
  .cbp_tmtimeline > li .cbp_tmtime {
    width: 100%;
    position: relative;
    padding: 0 0 20px 0;
  }

  .cbp_tmtimeline > li .cbp_tmtime span {
    text-align: left;
  }

  .cbp_tmlabel img {
    height: 135px;
  }

  .cbp_tmtimeline > li .cbp_tmlabel {
    margin: 0 0 30px 0;
    padding: 1em;
    font-weight: 400;
    font-size: 95%;
  }

  .cbp_tmtimeline > li .cbp_tmlabel:after {
    right: auto;
    left: 20px;
    border-right-color: transparent;
    border-bottom-color: #fdc229;
    top: -20px;
  }

  .cbp_tmtimeline > li.IMAX .cbp_tmlabel:after {
    border-right-color: transparent;
    border-bottom-color: #3594cb;
  }

  .cbp_tmtimeline > li .cbp_tmlabel.traveltime:after {
    border-right-color: transparent;
    border-bottom-color: #0f0f0f;
  }

  .cbp_tmtimeline > li .cbp_tmicon {
    position: relative;
    float: right;
    left: auto;
    margin: -55px 5px 0 0px;
    display: none;
  }
  .cbp_tmlabel .white.button { font-size: 14px; padding: 10px 15px;}
  .cbp_tmtimeline > li .cbp_tmlabel h2 { font-size: 20px;}
}
