$bg-color: #fff;
$bg-color-dark: #171819;
$nav-bg-color: #FFBD31;
$nav-bg-color-hover: #FFCF67;
$nav-bg-color-active: #DFA424;
$nav-sub-bg-color: #FFBD31;
$nav-text-color: #171819;
$nav-text-color-hover: white;
$nav-text-color-active: white;